<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida Aula Virtual ECATLIM</title>
</head>
<body style="font-family: Arial, sans-serif;background-color: #f7f9fc;color: #333;text-align: center;padding: 30px;margin: 0;">

<div class="container" style="max-width: 600px;margin: 0 auto;background: #fff;border-radius: 8px;padding: 30px;box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
    <img th:src="${webPageLink} + '/assets/logo.jpeg'" alt="logo">
    <h2>¡Esta es tu bienvenida al <br>Aula Virtual de la ECATLIM!</h2>

    <p th:if="${name != null}" th:text="'Para comenzar a usar el aula virtual, ' + ${name} + ', es necesario que inicies sesión con las siguientes credenciales:'"></p>
    <p th:if="${name == null}">Para comenzar a usar el aula virtual, es necesario que inicies sesión con las siguientes credenciales:</p>

    <div>
        <ul style="text-align: start">
            <li><b>Usuario:</b> <span th:text="${email}"></span></li>
            <li><b>Contraseña:</b> <span th:text="${password}"></span></li>
        </ul>
        <p>Una vez inicies sesión, se te recomienda que cambies tu contraseña.</p>
    </div>

    <a th:href="${webPageLink} + '/login'" target="_blank" class="button" style="display: inline-block;background-color: #aa642a;color: white;padding: 12px 24px;border-radius: 5px;text-decoration: none;font-weight: bold;margin-top: 20px;">INICIAR SESIÓN</a>

    <div class="features" style="text-align: left;margin-top: 30px;">
        <div class="feature-item" style="display: flex;align-items: center;margin-bottom: 15px;">
            <img th:src="${webPageLink} + '/assets/emails/welcome_email/logo_buscar.png'" alt="Icono Descubre" style="width: 40px;height: 40px;margin-right: 15px;">
            <div>
                <strong>Explora</strong><br>
                Descubre las etapas y formaciones disponibles.
            </div>
        </div>

        <div class="feature-item" style="display: flex;align-items: center;margin-bottom: 15px;">
            <img th:src="${webPageLink} + '/assets/emails/welcome_email/logo_aprender.png'" alt="Icono Aprende" style="width: 40px;height: 40px;margin-right: 15px;">
            <div>
                <strong>Aprende y crece</strong><br>
                Accede a cursos, documentación, foros y más.
            </div>
        </div>

        <div class="feature-item" style="display: flex;align-items: center;margin-bottom: 15px;">
            <img th:src="${webPageLink} + '/assets/emails/welcome_email/logo_comunidad.png'" alt="Icono Comunidad" style="width: 40px;height: 40px;margin-right: 15px;">
            <div>
                <strong>Sé parte de la comunidad</strong><br>
                Participa en eventos, cursos y actividades.
            </div>
        </div>

        <div>
            <p>Para cualquier duda puedes escribir al correo <b><a href="mailto:ecatlim@scoutsdecanarias.org" style="color: #aa642a; text-decoration: none;">ecatlim@scoutsdecanarias.org</a></b></p>
        </div>
    </div>
    <div class="footer" style="font-size: 12px;color: #7C9EC2;margin-top: 30px; text-align: start">
        <p style="margin-bottom: 0">#ECATLIM</p>
        <p style="margin-top: 0">#ESCUELA CANARIA de ANIMACIÓN en el TIEMPO LIBRE INSIGNIA de MADERA</p>
    </div>
</div>
</body>
</html>